# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.Python
bin/
lib/
lib64
share/
pyvenv.cfg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
media/
static/
staticfiles/

# VSCode/JetBrains
.vscode/
.idea/

# React frontend
frontend/node_modules/
frontend/build/

# Env / secret files
.env
.env.*
secrets.json
credentials.json

# Mac system files
.DS_Store

